[submodule "skills/chip-travel-agent"]
	path = skills/chip-travel-agent
	url = https://github.com/human20team/chip-travel-agent.git
[submodule "skills/shaw"]
	path = skills/shaw
	url = https://github.com/evgyur/shaw-hermes.git
[submodule "skills/server-doctor-public"]
	path = skills/server-doctor-public
	url = https://github.com/evgyur/server-doctor-public.git
[submodule "skills/chip-browser-relay"]
	path = skills/chip-browser-relay
	url = https://github.com/human20team/chip-browser-relay.git
